.portfolio__spisok-img {
  width: 18px;
  height: 30px;

  object-position: center;
  display: block;

  padding-right: 5px;
}


@media screen and (max-width: 320px) {
  .portfolio__spisok-img {
    width: 10px;
    height: 21px;
  }
}