.portfolio__spisok-img {
  width: 29px;
  height: 60px;

  display: block;
}

@media screen and (max-width: 768px) {
  .portfolio__spisok-img {
    width: 27px;
    height: 60px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__spisok-img {
    width: 18px;
    height: 28px;
  }
}