.filterCheckbox__wrapper {
  display: inline-block;
  justify-content: center;

  width: 33px;
  height: 13px;

  margin-top: 3px;
  margin-right: 14px;
  
  position: relative;
}

@media screen and (max-width: 320px) {
  .filterCheckbox__wrapper {
      margin-right: 22px;
  }
}