.aboutMe__title {
  max-width: 1140px;

  font-weight: 400;
  font-size: 22px;
  letter-spacing: -1px;

  margin: 0;
  margin-top: 110px;
  padding-bottom: 24px;


  border-bottom: 1px solid #DADADA;
}

@media screen and (max-width: 768px) {
  .aboutMe__title {
    margin-top: 89px;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__title {
    margin-top: 70px;
    padding-bottom: 28px;

    font-size: 18px;
  }
}