.promo {
  max-width: 1200px;

  display: flex;
  flex-direction:column;
  justify-content:center;

  border-radius: 10px;

  background-color: #272727;

  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .promo {
    max-width: 728px;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    max-width: 292px;
  }
}