.searchForm__input {
  width: 1160px;
  height: 50px;

  padding: 0 20px;

  margin-top: 2px;

  background-color: #2F2F2F;

  font-weight: 400;
  font-size: 14px;
  color: #fff;

  border: none;
  border-radius: 8px;

  outline:none;
}

.searchForm__input:focus {
  border: 1px solid #3DDC84;
}

@media screen and (max-width: 320px) {
  .searchForm__input {
    padding: 0 13px;
  }
}