.searchForm__input {
  width: 98%;
  height: 50px;

  padding: 0 20px;

  background-color: #2F2F2F;

  font-weight: 400;
  font-size: 14px;
  color: #fff;

  border: none;
  border-radius: 8px;

  outline:none;
}

.searchForm__input:focus {
  border: 1px solid #3DDC84;
}

@media screen and (max-width: 1140px) {
  .searchForm__input {
    width: 96%;
    padding-right: 0;
  }
}

@media screen and (max-width: 800px) {
  .searchForm__input {
    width: 94%;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .searchForm__input {
    width: 94%;
    padding-right: 0;
  }
}

@media screen and (max-width: 500px) {
  .searchForm__input {
    width: 90%;
    padding-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .searchForm__input {
    height: 44px;
    width: 81%;

    padding: 0 13px;
  }
}