.moviesCard__img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
  display: block;

  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .moviesCard__img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 320px) {
  .moviesCard__img {
    max-width: 300px;
    height: auto;
  }
}