.moviesCard__img {
  height: 200px;

  object-fit: cover;
  object-position: center;
  display: block;

  border-radius: 6px;

}

@media screen and (max-width: 768px) {
  .moviesCard__img {
    width: 339px;
    height: 190px;

  }
}

@media screen and (max-width: 320px) {
  .moviesCard__img {
    height: 168px;
    width: 300px;
  }
}