.profile__date {
  display: line;

  width: 40px;
  
  font-weight: 500;
  font-size: 11px;
}

@media screen and (max-width: 768px) {
  .profile__date {

  }
}

@media screen and (max-width: 320px) {
  .profile__date {
    width: 70px;
  }
}