.profile__button-edit {
  display: block;

  margin: 0 auto;
  margin-top: 200px;

  background-color: #202020;

  border: none;

  font-weight: 400;
  font-size: 13px;
  color: #fff;

  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__button-edit {
    margin-top: 210px;
  }
}

@media screen and (max-width: 320px) {
  .profile__button-edit {
    margin-top: 379px;
    font-size: 12px;
  }
}