.login__form {
  display: flex;
  flex-direction: column;
  justify-content:space-between;

  padding-top: 20px;

  width: 396px;
  height: 383px;

}

@media (max-width:320px){
  .login__form {
    max-width: 260px;
    min-height: 468px;

    padding-top: 60px;
    text-align: left;
  }
}