.footer {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  width: 95%;

  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 92%;
  }
}