.footer{
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items:center;

  min-width: 1140px;

  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .footer {
    min-width: 708px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    min-width: 292px;
  }
}