.movies {
  max-width: 1140px;

  margin: 0 auto;
  padding-top: 59px;
}


@media screen and (max-width: 768px) {
  .movies {
    padding-top: 64px;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    padding-top: 10px;
  }
}