.searchForm__button {
  width: 44px;
  height: 44px;

  margin-left: 10px;
  margin-top: 4px;

  padding-left: 1px;

  cursor: pointer;

  outline: none;
  border: 0;
  background: transparent;
}


@media screen and (max-width: 768px) {
  .searchForm__button {
    padding-left: 2px;
  }
}

