.burger__close-button {
  background-image: url(../../../images/button_close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;

  width: 22px;
  height: 22px;

  border: none;
  
  position: absolute;
  top: 22px;
  right: 22px;

  padding: 0;

  z-index: 4;
}
  
