.moviesCardList__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  row-gap: 60px;
  column-gap: 30px;

  max-width: 1140px;
  min-height: 100%;

  padding: 0;
  padding-top: 80px;
  margin: 0;
  text-align: center;

  border-top: 1px solid #424242;
}

@media screen and (max-width: 1140px) {
  .moviesCardList__wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 80px;
    row-gap: 45px;
    width: 98%;
  }
}

@media screen and (max-width: 640px) {
  .moviesCardList__wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-content: initial;

    padding-top: 50px;
    row-gap: 37px;
    width: 100%;
  }
}