.moviesCardList__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, 360px);
  row-gap: 60px;
  column-gap: 30px;

  max-width: 1140px;
  min-height: 100%;

  padding: 0;
  padding-top: 80px;

  margin: 0 auto;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .moviesCardList__wrapper {
    max-width: 760px;
    padding-top: 70px;
  }
}

@media screen and (max-width: 320px) {
  .moviesCardList__wrapper {
    max-width: 300px;
    padding-top: 40px;

    row-gap: 40px;
  }
}