.moviesCardList__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: center;
  row-gap: 54px;
  column-gap: 30px;

  max-width: 100%;
  min-height: 100%;

  padding: 0;
  padding-top: 80px;
  margin: 0;
  text-align: center;

  border-top: 1px solid #424242;
}

@media screen and (max-width: 768px) {
  .moviesCardList__wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 80px;
    row-gap: 47px;

    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .moviesCardList__wrapper {
    grid-template-columns: repeat(1, 1fr);
    justify-content: initial;
    width: 100%;

    padding-top: 50px;
    row-gap: 37px;
  }
}