.header{
  height: 74px;
  min-width: 1140px;
  background-color: #202020;

  display: flex;
  justify-content:space-between;
  align-items:center;


  margin: 0 auto;
  
}

@media screen and (max-width: 768px) {
  .header {
    min-width: 689px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    min-width: 272px;
  }
}