.aboutMe__articl {
  display: flex;
  flex-direction: column;

  max-width: 600px; 
}

@media screen and (max-width: 767px) {
  .aboutMe__articl {
    max-width: 292px; 
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .aboutMe__articl {
    max-width: 292px; 
  }
}