.login__form-input {

  margin-top: 10px;
  padding: 0 15px;

  height: 46px;

  font-weight: 400;
  font-size: 13px;
  color: #fff;

  background-color: #2F2F2F;

  border: none;
  border-radius: 8px;

  outline: none;
}

.login__form-input::placeholder {
  color: #fff;
}

.login__form-input:focus {
  border: 1px solid #3DDC84;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #2F2F2F; /* цвет вашего фона */
  -webkit-text-fill-color: #fff; /* цвет текста */
}