.footer__prevue {
  font-weight: 400;
  font-size: 13px;
  color: #8B8B8B;

  margin-top: 60px;
  margin-bottom: 20px;

  text-align: center;

}

@media screen and (max-width: 768px) {
  .footer__prevue {
    margin-top: 104px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .footer__prevue {
    font-size: 12px;

    margin-top: 79px;
  }
}