.portfolio {
  min-height: 100%;
  max-width: 1140px;

  margin: 0 auto;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    max-width: 668px;

    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio {
    max-width: 292px;

    margin-top: 72px;
  }
}