.login__text {
  font-weight: 400;
  font-size: 14px;

  margin-top: 16px;

  text-align: center;

  color: #8B8B8B;
}

@media (max-width:768px){
  .login__text {
    margin-top: 18px;
    padding-bottom: 232px;
  }
}

@media (max-width:320px){
  .login__text {
    font-size: 12px;

    margin-top: 14px;
    padding-bottom: 30px;
  }
}