.filterCheckbox {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;

  margin-left: 8px;

  margin-top: 30px;
  margin-bottom: 40px;

  cursor: pointer;

}

@media screen and (max-width: 768px) {
  .filterCheckbox {
      margin-top: 43px;
  }
}

@media screen and (max-width: 320px) {
  .filterCheckbox {
      margin-top: 43px;
  }
}