.navigation {
  font-weight: 400;
  font-size: 13px;

  margin-left: 25px;

  width: 212px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none
}

@media screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
}


